// External links

.main-content {

  a[href]:not(:where(
    /* exclude hash only links */
    [href^="#"],
    /* exclude relative links */
    [href^="/"],
    /* domains to exclude */
    [href*="://machinetranslate.org"],
    [href*="://localhost:"],

    )):after {
    /* ↗️ is too ugly on iOS and Firefox, so we hack it. */
    content: '→';
    transform: rotate(-45deg);
    display: inline-block;
    padding-left: 0.2em;
  }

}
