beautifulsoup4==4.11.1
bs4==0.0.1
charset-normalizer==2.1.1
html5lib==1.1
lxml==4.9.3
pluggy==1.3.0
pyenchant==3.2.2
pytest==7.4.3
pytest-asyncio==0.23.1
pytest-pyodide==0.55.1
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.32.4
six==1.16.0
soupsieve==2.5
typing_extensions==4.8.0
Unidecode==1.3.7
urllib3==2.2.2
zipp==3.19.1
spacy==3.7.2
