
<center>
  <p>
    {% if page.title == '404' %}
      <a
        target="_blank"
        href="https://github.com/machinetranslate/machinetranslate.org/new/master/{{ page.path }}">
        <strong>Create this article</strong>
      </a>
    {% elif page.layout == 'coming_soon' }
      <a
        target="_blank"
        href="https://github.com/machinetranslate/machinetranslate.org/edit/master/{{ page.path }}">
        <strong>Write this article</strong>
      </a>
    {% else %}
      <a
        target="_blank"
        href="https://github.com/machinetranslate/machinetranslate.org/edit/master/{{ page.path }}">
        <strong>Edit this article</strong>
      </a>
    {% endif %}
  </p>
</center>

<center>
  <p>
      Machine Translate is created and edited by contributors like you!
  </p>
  <p>
    <a
      href="/contributing">
      Learn more about contributing
    </a>
  </p>
</center>

<hr/>
<center>
  {% include social.html %}
</center>
