<span style="color: silver;"></span>
<div class="social-links">
  <div class="github" onclick="window.open('https://github.com/machinetranslate/machinetranslate.org');">
      {% include github.html %}
  </div>
  <div class="twitter" onclick="window.open('https://twitter.com/machtranslate');">
      {% include twitter.html %}
  </div>
  <div class="linkedin" onclick="window.open('https://linkedin.com/company/machinetranslate');">
      {% include linkedin.html %}
  </div>
  <div class="facebook" onclick="window.open('https://facebook.com/machinetranslate');">
      {% include facebook.html %}
  </div>
</div>
