{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<style>
#social-links {display: inline-block; vertical-align: middle; }
#social-links:after {content: ""; display: block; clear: both;}
#social-links > div {
    position: relative;
    text-align: left;
    height: 36px;
    width: 32px;
    float: left;
    text-align: center;
}
#social-links > div > svg {height: 16px; fill: #d5d5d5; margin-top: 10px;}
#social-links > div:hover {cursor: pointer;}
#social-links > div.github:hover > svg {fill: #171515;}
#social-links > div.facebook:hover > svg {fill: #3B5998;}
#social-links > div.twitter:hover > svg {fill: #55ACEE;}
#social-links > div.linkedin:hover > svg {fill: #0077b5;}
#social-links > div.github > svg {height: 19px; margin-top: 7px;}
#social-links > div.facebook > svg {height: 18px; margin-top: 9px;}
#social-links > div.twitter > svg {height: 20px; margin-top: 8px;}
#social-links > div.linkedin > svg {height: 19px; margin-top: 7px;}
</style>

<span style="color: silver;"></span><div id="social-links">
  <div class="github" onclick="window.open('https://github.com/machinetranslate/machinetranslate.org');">
      {% include github.html %}
  </div>
  <div class="twitter" onclick="window.open('https://twitter.com/machtranslate');">
      {% include twitter.html %}
  </div>
  <div class="linkedin" onclick="window.open('https://linkedin.com/company/machinetranslate');">
      {% include linkedin.html %}
  </div>
  <div class="facebook" onclick="window.open('https://facebook.com/machinetranslate');">
      {% include facebook.html %}
  </div>
</div>
