---
layout: default
parent: Aggregators
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<p>
  The <strong>{{ page.title }}</strong> <a href="/aggregators">aggregator</a> supports <a href="#api-support">{{ page.supported_apis | size }} machine translation APIs</a>.
</p>

<blockquote>
  {% if page.urls.size > 0 %}
    <hr/>
    <ul>
      {% for url in page.urls %}
      <li>
        <a href="{{ url }}" target="_blank">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  <dl>
    <dt>Supported APIs</dt>
    <dd><a href="#supported_apis">{{ page.supported_apis | size }} APIs</a></dd>
  </dl>

</blockquote>
{{ content }}

<ul>
{% for api in page.supported_apis %}
  <li>
    <a href="/{{ api.slug }}">{{ api.name }}</a>
  </li>
{% endfor %}
</ul>

---

<h3>See also</h3>

<ul>
  <li>
    <a href="/aggregators">More aggregators</a>
  </li>
</ul>
