---
layout: default
parent: Aggregators
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<p>
  The <strong>{{ page.title }}</strong> <a href="/aggregators">aggregator</a> supports <a href="#api-support">{{ page.supported_apis | size }} machine translation APIs</a>.
</p>

<blockquote>
  {% if page.urls.size > 0 %}
    <hr/>
    <ul>
      {% for url in page.urls %}
      <li>
        <a href="{{ url }}" target="_blank">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  <dl>
    <dt>Supported APIs</dt>
    <dd><a href="#supported_apis">{{ page.supported_apis | size }} APIs</a></dd>
  </dl>

</blockquote>
{{ content }}

<section id="api-support">
  <h2>API support</h2>
  <details>
    <summary>
      {% if page.supported_apis.size == 1 %}
        <strong>1</strong> API supports {{ page.title }}.
      {% else %}
        <strong>{{ page.supported_apis | size }}</strong> APIs support {{ page.title }}.
      {% endif %}
      <p class="preview hint">
        {{ page.supported_apis | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.supported_apis.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
      {% for api in page.supported_apis %}
        <li>
          <a href="/{{ api.id }}">
            {{ api.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </details>
</section>
