---
layout: default
parent: APIs
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

{% if page.active != true %}
<blockquote>
 ⚠️ The <strong>{{ page.title }}</strong> machine translation API is no longer active.
</blockquote>
{% endif %}

<p>
  {% if page.supported_languages.size > 0 %}
    The <strong>{{ page.title }}</strong> machine translation API supports <a href="#language-support">{{ page.supported_languages | size }} languages</a>.
  {% else %}
    The <strong>{{ page.title }}</strong> machine translation API supports an unknown number of languages.
  {% endif %}
</p>

<p>
  {% if page.integrations.size == 1 %}
    <a href="#integrations">1 machine translation management system</a> has integrated the <strong>{{ page.title }}</strong> machine translation API.{% endif %}
    {% if page.integrations.size > 1 %}
    <a href="#integrations">{{ page.integrations | size }} machine translation management systems</a> have <strong>{{ page.title }}</strong> integrations.
  {% endif %}
</p>


  {% if page.customisation.size > 0 %}
  <a href="/customisation">Customisation</a> is supported.
  {% endif %}
  {% if page.customisation contains 'Glossary' %}
    <a href="/glossaries">Glossaries</a> can be used to customise the translation of specific words and phrases.
  {% endif %}
  {% if page.customisation contains 'Formality' %}
    The API can also be customised for <a href="/formality">formality</a>.
  {% endif %}
  {% if page.customisation contains 'Fine-tuning' %}
    <a href="/fine-tuning">Fine-tuning</a> on <a href="/parallel-data">parallel data</a> can be used to fine-tune the model.
  {% endif %}
  {% if page.customisation contains 'Adaptive' %}
    The API also supports <a href="/adaptive">adaptive</a> customisation.
  {% endif %} <br>

  {% assign links = "" | split: "" %}

  {% for type in page.inputs %}
    {% assign type_lower = type | downcase %}
    {% case type_lower %}
      {% when 'speech' %}
        {% assign links = links | push: "<a href='/speech'>speech</a>" %}
      {% when 'file' %}
        {% assign links = links | push: "<a href='/file'>file</a>" %}
      {% when 'text' %}
        {% assign links = links | push: "<a href='/text'>text</a>" %}
      {% else %}
        {% assign links = links | push: type %}
    {% endcase %}
  {% endfor %}


  {% if links.size > 0 %}
    The API supports 
    {% for link in links %}
      {% if forloop.last and links.size > 1 %}
        and {{ link }}
      {% elsif forloop.first %}
        {{ link }}
      {% else %}
      , {{ link }}
      {% endif %}
    {% endfor %}
    input mode{% if links.size > 1 %}s.{% endif %}
  {% endif %}
</p>

<blockquote>

  <dl>

    <dt>Language support</dt>
  {% if page.supported_languages.size == 0 %}
    <dd><a href="#language-support">Unknown number of languages</a></dd>
  {% else %}
    <dd><a href="#language-support">{{ page.supported_languages | size }} languages</a>
    {% if page.more_languages_by_request %}
      - more languages available by request
    {% endif %}
    </dd>
  {% endif %}
    
  {% if page.integrations.size > 0 %}
    <dt>Integrations</dt>
    <dd><a href="#integrations">{{ page.integrations | size }} translation management systems</a></dd>
  {% endif %}

  {% if page.inputs.size > 0 %}
    <dt>Input modes</dt>
    <dd>
      {% for input in page.inputs %}
        {{ input | capitalize }}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </dd>
  {% endif %}

  {% if page.models.size > 0 %}
    <dt>Models</dt>
    <dd>
      {% for model in page.models %}
        <a href="/{{ model.slug }}">{{ model.name }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </dd>
  {% endif %}

  {% if page.customisation.size > 0 %}
    <dt>Customisation</dt>
    <dd>
      {% for customisation_type in page.customisation %}
        {{ customisation_type }}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </dd>
  {% endif %}

  {% if page.privacy_url %}
    <dt>Privacy policy</dt>
    <dd>
      <a href="{{ page.privacy_url }}">{{ page.privacy_url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
    </dd>
  {% endif %}

  </dl>

  {% if page.urls.size > 0 %}
    <hr/>
    <ul>
      {% for url in page.urls %}
      <li>
        <a href="{{ url }}" target="_blank">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

    <hr/>

  {% if page.prompt_required %}
    <p>Requires prompt</p>
  {% else %}
    <p>No prompt required</p>
  {% endif %}
  
  {% if page.self_serve == false %}
    <p>🔒 No self-service</p>
  {% elsif page.self_serve == true %}
    <p>🛒 Self-service</p>
  {% endif %}

</blockquote>

{{ content }}

<section id="language-support">
  <h2>Language support</h2>
  {% if page.supported_languages.size > 0 %}

    <details>
      <summary>
        {% if page.supported_languages_comment %}
          {{ page.supported_languages_comment }}
        {% endif %}
        {% if page.supported_languages.size == 1 %}
          <strong>1</strong> language is supported by the {{ page.title }} API.
        {% else %}
          <strong>{{ page.supported_languages | size }}</strong> languages are supported by the {{ page.title }} API.
        {% endif %}
        <p class="preview hint">
          {{ page.supported_languages | slice: 0, 5 | map: 'name' | join: ', ' }}
          {% if page.supported_languages.size > 5 %}, …{% endif %}
        </p>
      </summary>
      <ul>
        {% for language in page.supported_languages %}
          <li>
            <a href="/{{ language.slug }}">
              <code>{{ language.normalized_code }}</code>
              {{ language.name }}
              {% if language.variant_name %}
                | {{ language.variant_name }}
              {% endif %}
            </a>
              {% if language.normalized_code != language.code %}
                ⚠️ {{ page.title }} uses <code>{{ language.code }}</code>.
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </details>

{% else %}

  <p>The {{ page.title }} API supports an unknown number of languages.</p>
</section>

{% endif %}


  <section id="integrations">
    <h2>Integrations</h2>
    <details>
      <summary>
        {% if page.integrations.size == 1 %}
          <strong>1</strong> translation management system has integrated the {{ page.title }} API.
        {% else %}
          <strong>{{ page.integrations | size }}</strong> translation management systems have integrated the {{ page.title }} API.
        {% endif %}
        <p class="preview hint">
          {{ page.integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
          {% if page.integrations.size > 5 %}, …{% endif %}
        </p>
      </summary>
      <ul>
        {% for i in page.integrations %}
          <li>
              <a href="/{{ i.slug }}" >{{ i.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </details>
  </section>
