---
layout: default
parent: Translation APIs
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

{% if page.active != true %}
<blockquote>
 ⚠️ The <strong>{{ page.title }}</strong> machine translation API is no longer active.
</blockquote>
{% endif %}

<p>
  {% if page.supported_languages.size > 0 %}
    The <strong>{{ page.title }}</strong> machine translation API {% if page.active != true %}supported{% else %}supports{% endif %} <a href="#language-support">{{ page.supported_languages | size }} languages</a>.
  {% else %}
    The <strong>{{ page.title }}</strong> machine translation API {% if page.active != true %}supported{% else %}supports{% endif %} an unknown number of languages.
  {% endif %}
</p>

<p>
  {% if page.integrations.size == 1 %}
    <a href="#integrations">1 machine translation management system</a> {% if page.active != true %}had{% else %}has{% endif %} integrated the <strong>{{ page.title }}</strong> machine translation API.{% endif %}
    {% if page.integrations.size > 1 %}
    <a href="#integrations">{{ page.integrations | size }} machine translation management systems</a> {% if page.active != true %}had{% else %}have{% endif %} <strong>{{ page.title }}</strong> integrations.
  {% endif %}
</p>


  {% if page.customisation.size > 0 %}
  <a href="/customisation">Customisation</a> {% if page.active != true %}was{% else %}is{% endif %} supported.
  {% endif %}
  {% if page.customisation contains 'Glossary' %}
    <a href="/glossaries">Glossaries</a> {% if page.active != true %}could{% else %}can{% endif %} be used to customise the translation of specific words and phrases.
  {% endif %}
  {% if page.customisation contains 'Formality' %}
    The API {% if page.active != true %}could{% else %}can{% endif %} also be customised for <a href="/formality">formality</a>.
  {% endif %}
  {% if page.customisation contains 'Fine-tuning' %}
    <a href="/fine-tuning">Fine-tuning</a> on <a href="/parallel-data">parallel data</a> {% if page.active != true %}could{% else %}can{% endif %} be used to customise the model.
  {% endif %}
  {% if page.customisation contains 'Adaptive' %}
    The API also {% if page.active != true %}supported{% else %}supports{% endif %} <a href="/adaptive">adaptive</a> customisation.
  {% endif %} <br>

  {% assign links = "" | split: "" %}

  {% for type in page.inputs %}
    {% assign type_lower = type | downcase %}
    {% case type_lower %}
      {% when 'speech' %}
        {% assign links = links | push: "<a href='/speech'>speech</a>" %}
      {% when 'file' %}
        {% assign links = links | push: "<a href='/file'>file</a>" %}
      {% when 'text' %}
        {% assign links = links | push: "<a href='/text'>text</a>" %}
      {% else %}
        {% assign links = links | push: type %}
    {% endcase %}
  {% endfor %}


  {% if links.size > 0 %}
    The API {% if page.active != true %}supported{% else %}supports{% endif %} 
    {% for link in links %}
      {% if forloop.last and links.size > 1 %}
        and {{ link }}
      {% elsif forloop.first %}
        {{ link }}
      {% else %}
      , {{ link }}
      {% endif %}
    {% endfor %}
    input mode{% if links.size > 1 %}s{% endif %}.
  {% endif %}
</p>

<p>
  {% if page.prompt_required == true %}
    The <strong>{{ page.title }}</strong> API {% if page.active != true %}was{% else %}is{% endif %} <strong>not translation-specific</strong>, so for translation it <strong>{% if page.active != true %}required{% else %}requirs{% endif %} a <a href="/prompting">prompt</a></strong>.
  {% endif %}
</p>

<blockquote>

  <dl>

    <dt>Language support</dt>
  {% if page.supported_languages.size == 0 %}
    <dd><a href="#language-support">Unknown number of languages</a></dd>
  {% else %}
    <dd><a href="#language-support">{{ page.supported_languages | size }} languages</a>
    {% if page.more_languages_by_request %}
      - more languages {% if page.active != true %}were{% endif %} available by request
    {% endif %}
    </dd>
  {% endif %}
    
  {% if page.integrations.size > 0 %}
    <dt>Integrations</dt>
    <dd><a href="#integrations">{{ page.integrations | size }} translation management systems</a></dd>
  {% endif %}

  {% if page.inputs.size > 0 %}
    <dt>Input modes</dt>
    <dd>
      {% for input in page.inputs %}
        {{ input | capitalize }}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </dd>
  {% endif %}

  {% if page.models.size > 0 %}
    <dt>Models</dt>
    <dd>
      {% for model in page.models %}
        <a href="/models/{{ model.slug }}">{{ model.name }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </dd>
  {% endif %}

  {% if page.customisation.size > 0 %}
    <dt>Customisation</dt>
    <dd>
      {% for customisation_type in page.customisation %}
        {{ customisation_type }}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </dd>
  {% endif %}

  {% if page.privacy_url %}
    <dt>Privacy policy</dt>
    <dd>
      <a href="{{ page.privacy_url }}">{{ page.privacy_url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
    </dd>
  {% endif %}
  
  <dt>Company</dt>
    <dd>
      {% if page.more_by_company.size > 1 %}
        <a href="#more-by-company">{{ page.company.name }}</a>
      {% else %}
        {{ page.company.name }}
      {% endif %}
    </dd>

  </dl>

  {% if page.urls.size > 0 %}
    <hr/>
    <ul>
      {% for url in page.urls %}
      <li>
        <a href="{{ url }}" target="_blank">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

    <hr/>

  {% if page.prompt_required %}
    <p>✍️ Prompting required</p>
  {% endif %}
  
  {% if page.self_serve == false %}
    <p>🔒 No self-service</p>
  {% elsif page.self_serve == true %}
    <p>🛒 Self-service</p>
  {% endif %}

</blockquote>

{{ content }}

<section id="language-support">
  <h2>Language support</h2>
  {% if page.supported_languages.size > 0 %}

    <details>
      <summary>
        {% if page.supported_languages_comment %}
          {{ page.supported_languages_comment }}
        {% endif %}
        {% if page.supported_languages.size == 1 %}
          <strong>1</strong> language {% if page.active != true %}was{% else %}is{% endif %} supported by the {{ page.title }} API.
        {% else %}
          <strong>{{ page.supported_languages | size }}</strong> languages {% if page.active != true %}were{% else %}are{% endif %} supported by the {{ page.title }} API.
        {% endif %}
        <p class="preview hint">
          {{ page.supported_languages | slice: 0, 5 | map: 'name' | join: ', ' }}
          {% if page.supported_languages.size > 5 %}, …{% endif %}
        </p>
      </summary>
      <ul>
        {% for language in page.supported_languages %}
          <li>
            <a href="/{{ language.slug }}">
              <code>{{ language.normalized_code }}</code>
              {{ language.name }}
              {% if language.variant_name %}
                | {{ language.variant_name }}
              {% endif %}
            </a>
              {% if language.normalized_code != language.code %}
                ⚠️ {{ page.title }} uses <code>{{ language.code }}</code>.
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </details>

{% else %}

  <p>The {{ page.title }} API {% if page.active != true %}supported{% else %}supports{% endif %} an unknown number of languages.</p>
</section>

{% endif %}


<section id="integrations">
  <h2>Integrations</h2>
  <details>
    <summary>
      {% if page.integrations.size == 1 %}
        <strong>1</strong> translation management system {% if page.active != true %}had{% else %}has{% endif %} integrated the {{ page.title }} API.
      {% else %}
        <strong>{{ page.integrations | size }}</strong> translation management systems {% if page.active != true %}had{% else %}have{% endif %} integrated the {{ page.title }} API.
      {% endif %}
      <p class="preview hint">
        {{ page.integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.integrations.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
      {% for i in page.integrations %}
        <li>
            <a href="/integrations/{{ i.slug }}" >{{ i.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </details>
</section>

{% assign feature_types = "translation_apis,quality_estimation_apis,automatic_post_editing_apis,tms,routers,models" | split: "," %}
{% assign feature_summaries = "Translation APIs,Quality estimation,Automatic post-editing,,Routers,Models" | split: "," %}

{% assign total_visible_items = 0 %}

{% for company in page.more_by_company %}
  {% for feature in feature_types %}
    {% assign items = company[feature] %}
    {% if items %}
      {% assign visible_items = "" | split: "" %}
      {% for i in items %}
        {% if feature == "translation_apis" %}
          {% if i.id != page.id %}
            {% assign visible_items = visible_items | push: i %}
          {% endif %}
        {% else %}
          {% assign visible_items = visible_items | push: i %}
        {% endif %}
      {% endfor %}

      {% if visible_items.size > 0 %}
        {% assign total_visible_items = total_visible_items | plus: visible_items.size %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if total_visible_items > 0 %}
<section id="more-by-company">
  <h2>More by {{ page.company.name }}</h2>

  {% for company in page.more_by_company %}

    {% assign items = company.translation_apis %}
    {% if items %}
    {% assign visible_items = "" | split: "" %}
      {% for i in items %}
        {% if i.id != page.id %}
          {% assign visible_items = visible_items | push: i %}
        {% endif %}
      {% endfor %}

      {% if visible_items.size > 0 %}
        <ul>
          {% for i in visible_items %}
            <li><a href="/{{ i.id }}">{{ i.name }} machine translation</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}

    {% assign items = company.quality_estimation_apis %}
    {% if items %}
      <ul>
        {% for i in items %}
          <li><a href="/quality-estimation/{{ i.id }}">{{ i.name }} quality estimation</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% assign items = company.automatic_post_editing_apis %}
    {% if items %}
      <ul>
        {% for i in items %}
          <li><a href="/automatic-post-editing/{{ i.id }}">{{ i.name }} automatic post-editing</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% assign items = company.tms %}
    {% if items %}
      <ul>
        {% for i in items %}
          <li><a href="/integrations/{{ i.id }}">{{ i.name }} {{ items[0].type | downcase }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% assign items = company.routers %}
    {% if items %}
      <ul>
        {% for i in items %}
          <li><a href="/routers/{{ i.id }}">{{ i.name }} router</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% assign items = company.models %}
    {% if items %}
      <ul>
        {% for i in items %}
          <li><a href="/models/{{ i.id }}">{{ i.name }} model</a></li>
        {% endfor %}
      </ul>
    {% endif %}

  {% endfor %}
</section>
{% endif %}