---
layout: default
parent: Automatic post-editing
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

<p>
  {% if page.supported_languages.size > 0 %}
    The <strong>{{ page.title }}</strong> automatic post-editing API supports <a href="#language-support">{{ page.supported_languages | size }} languages</a>.
  {% else %}
    The <strong>{{ page.title }}</strong> automatic post-editing API supports an unknown number of languages.
  {% endif %}
</p>

<blockquote>

  <dl>

    <dt>Language support</dt>
  {% if page.supported_languages.size == 0 %}
    <dd><a href="#language-support">Unknown number of languages</a></dd>
  {% else %}
    <dd><a href="#language-support">{{ page.supported_languages | size }} languages</a>
    {% if page.more_languages_by_request %}
      - more languages available by request
    {% endif %}
    </dd>
  {% endif %}

  {% if page.integrations.size > 0 %}
    <dt>Integrations</dt>
    <dd><a href="#integrations">{{ page.integrations | size }} translation management system{% if page.integrations.size > 1 %}s{% endif %}</a></dd>
  {% endif %}

  <dt>Company</dt>
    <dd>
      {% if page.more_by_company.size > 1 %}
        <a href="#more-by-company">{{ page.company.name }}</a>
      {% else %}
        {{ page.company.name }}
      {% endif %}
    </dd>
    
  </dl>

  {% if page.urls.size > 0 %}
    <hr/>
    <ul>
      {% for url in page.urls %}
      <li>
        <a href="{{ url }}" target="_blank">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}  

</blockquote>

{{ content }}

<section id="language-support">
  <h2>Language support</h2>
  {% if page.supported_languages.size > 0 %}

    <details>
      <summary>
        {% if page.supported_languages_comment %}
          {{ page.supported_languages_comment }}
        {% endif %}
        {% if page.supported_languages.size == 1 %}
          <strong>1</strong> language is supported by the {{ page.title }} API.
        {% else %}
          <strong>{{ page.supported_languages | size }}</strong> languages are supported by the {{ page.title }} API.
        {% endif %}
        <p class="preview hint">
          {{ page.supported_languages | slice: 0, 5 | map: 'name' | join: ', ' }}
          {% if page.supported_languages.size > 5 %}, …{% endif %}
        </p>
      </summary>
      <ul>
        {% for language in page.supported_languages %}
          <li>
            <a href="/{{ language.slug }}">
              <code>{{ language.normalized_code }}</code>
              {{ language.name }}
              {% if language.variant_name %}
                | {{ language.variant_name }}
              {% endif %}
            </a>
              {% if language.normalized_code != language.code %}
                ⚠️ {{ page.title }} uses <code>{{ language.code }}</code>.
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </details>

{% else %}

  <p>The {{ page.title }} API supports an unknown number of languages.</p>
</section>

{% endif %}

<section id="integrations">
  <h2>Integrations</h2>
  <details>
    <summary>
      {{ page.title }} is integrated in <strong>{{ page.integrations | size }}</strong> translation management system{% if page.integrations.size != 1 %}s{% endif %}.
      <p class="preview hint">
        {{ page.integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.integrations.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
      {% for i in page.integrations %}
        <li>
            <a href="/integrations/{{ i.slug }}" >{{ i.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </details>
</section>

{% assign feature_types = "translation_apis,quality_estimation_apis,automatic_post_editing_apis,tms,routers,models" | split: "," %}
{% assign feature_summaries = "Translation APIs,Quality estimation,Automatic post-editing,,Routers,Models" | split: "," %}

{% assign total_visible_items = 0 %}

{% for company in page.more_by_company %}
  {% for feature in feature_types %}
    {% assign items = company[feature] %}
    {% if items %}
      {% assign visible_items = "" | split: "" %}
      {% for i in items %}
        {% if feature == "automatic_post_editing_apis" %}
          {% if i.id != page.id %}
            {% assign visible_items = visible_items | push: i %}
          {% endif %}
        {% else %}
          {% assign visible_items = visible_items | push: i %}
        {% endif %}
      {% endfor %}

      {% if visible_items.size > 0 %}
        {% assign total_visible_items = total_visible_items | plus: visible_items.size %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if total_visible_items > 0 %}
<section id="more-by-company">
  <h2>More by {{ page.company.name }}</h2>

  {% for company in page.more_by_company %}

    {% assign items = company.translation_apis %}
    {% if items %}
        <details>
          <summary>Machine translation</summary>
          <ul>
            {% for i in items %}
              <li><a href="/{{ i.id }}">{{ i.name }}</a></li>
            {% endfor %}
          </ul>
        </details>
    {% endif %}

    {% assign items = company.quality_estimation_apis %}
    {% if items %}
      <details>
        <summary>Quality Estimation</summary>
        <ul>
          {% for i in items %}
            <li><a href="/quality-estimation/{{ i.id }}">{{ i.name }}</a></li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% assign items = company.automatic_post_editing_apis %}
    {% if items %}
    {% assign visible_items = "" | split: "" %}
      {% for i in items %}
        {% if i.id != page.id %}
          {% assign visible_items = visible_items | push: i %}
        {% endif %}
      {% endfor %}

      {% if visible_items.size > 0 %}
      <details>
        <summary>Automatic post-editing</summary>
        <ul>
          {% for i in visible_items %}
            <li><a href="/automatic-post-editing/{{ i.id }}">{{ i.name }}</a></li>
          {% endfor %}
        </ul>
      </details>
      {% endif %}
    {% endif %}

    {% assign items = company.tms %}
    {% if items %}
      <details>
        <summary>{{ items[0].type }}</summary>
        <ul>
          {% for i in items %}
            <li><a href="/integrations/{{ i.id }}">{{ i.name }}</a></li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% assign items = company.routers %}
    {% if items %}
      <details>
        <summary>Routers</summary>
        <ul>
          {% for i in items %}
            <li><a href="/routers/{{ i.id }}">{{ i.name }}</a></li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% assign items = company.models %}
    {% if items %}
      <details>
        <summary>Models</summary>
        <ul>
          {% for i in items %}
            <li><a href="/models/{{ i.id }}">{{ i.name }}</a></li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

  {% endfor %}
</section>
{% endif %}