---
layout: default
parent: Engines
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

<blockquote>

  <p>{{ page.supported_languages | size }} supported languages</p>

  <ul>
    {% for url in page.urls %}
    <li>
      <a href="{{ url }}">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 25 }}</a>
    </li>
    {% endfor %}
  </ul>

</blockquote>

{{ content }}



<h2>Language support</h2>
<ul>
  {% for language in page.supported_languages %}
    <li>
      <a href="/{{ language.slug }}">
        <code>{{ language.code }}</code> {{ language.name }}
      </a>
    </li>
  {% endfor %}
</ul>
