---
layout: default
parent: Engines
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

<p>
  The <strong>{{ page.title }}</strong> machine translation API supports <a href="#language-support">{{ page.supported_languages | size }} languages</a>.
</p>

<blockquote>

  {% unless language.self_serve %}
  <p>No self-service</p>
  <hr/>
  {% endunless %}

  {% if page.customization.size > 0 %}
    <p>
      Customization:
      <ul>
      {% for customization_type in page.customization %}
        <li>{{ customization_type }}</li>
      {% endfor %}
      </ul>
    </p>
  {% endif %}

  <hr/>

  <ul>
    {% for url in page.urls %}
    <li>
      <a href="{{ url }}" target="_blank">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
    </li>
    {% endfor %}
  </ul>

</blockquote>

{{ content }}



<h2 id="language-support">Language support</h2>
<p>{{ page.title }} supports <strong>{{ page.supported_languages | size }}</strong> languages.</p>

<ul>
  {% for language in page.supported_languages %}
    <li>
      {% if language.slug %}
      <a href="/{{ language.slug }}">
        <code>{{ language.code }}</code> {{ language.name }}
        {% if language.normalized_code != language.code %}
          (<code>{{ language.normalized_code }}</code>)
        {% endif %}
      </a>
      {% else %}
      <a href="https://en.wikipedia.org/wiki/ISO_639:{{ language.base_code }}" target="_blank">
        <code>{{ language.code }}</code>
      </a>
      {% endif %}
      {% if language.variant_name %}
        | {{ language.variant_name }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
