---
layout: default
parent: Events
---


<h1>{{ page.title }}</h1>
<h2>{{ page.description }}</h2>
<hr/>

{% assign current_date = site.time | date: "%Y-%m-%d" %}

<p>
  {% if current_date < page.end_date %}
    {{ page.future_tense_opening_paragraph }}
  {% else %}
    {{ page.past_tense_opening_paragraph }}
  {% endif %}
</p>

{% if page.summaries %}
  {% for summary in page.summaries %}
    <blockquote>
      <p>
        {{ summary }}
      </p>
    </blockquote>
  {% endfor %}
{% endif %}

{% if page.location.name %}
  <h3>Location</h3>
  <ul>
    <li>
      {{ page.location.name }}
    </li>
  </ul>
{% endif %}

{% if page.links %}
  <h3>Links</h3>
  <ul>
    {% for link in page.links %}
      <li>
        {{ link }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if page.important_dates %}
  <h2>Important Dates</h2>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  {% for entry in page.important_dates %}
    <tr>
      <td>{{ entry[0] }}</td>
      <td>{{ entry[1] | date: "%d %B" }}</td>
    </tr>
  {% endfor %}
  </table>
{% endif %}

{% if page.speakers %}
  {% for speaker in page.speakers %}
  <h2>{{ speaker.type }}</h2>
  <ul>
    {% for s in speaker.about %}
      <li>
        {{ s }}
      </li>
    {% endfor %}
  </ul>
  {% endfor %}
{% endif %}

{% if page.workshops %}
<h2>Workshops</h2>
  {% for workshop in page.workshops %}
    <h3>{{ workshop.name }}</h3>
    <blockquote>
      <p>{{ workshop.description }}</p>
    </blockquote>
  {% endfor %}
{% endif %}

{% if page.shared_tasks %}
<h2>Shared Tasks</h2>
  <ul>
    {% for task in page.shared_tasks %}
      <li>{{ task }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if page.multiday_schedule %}
<h2>Schedule</h2>
  {% for schedule in page.multiday_schedule %}
    <h3>Day {{ forloop.index }}</h3>
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      {% for d in schedule %}
        <tr>
          <td>{{ d[0] }}</td>
          <td>{{ d[1] }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
{% endif %}

{% if page.one_day_schedule %}
<h2>Schedule</h2>
  {% for schedule in page.one_day_schedule %}
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      {% for d in schedule %}
        <tr>
          <td>{{ d[0] }}</td>
          <td>{{ d[1] }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
{% endif %}

{% if page.calls_for_papers %}
<h2>Calls For Papers</h2>
  {% for cfp in page.calls_for_papers %}
    <h3>{{ cfp.title }}</h3>
    <ul>
      {% for topic in cfp.topics %}
        <li>
          {{ topic }}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endif %}

{{ content }}