---
layout: default
parent: Integrations
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

<p>
  {% if page.api_integrations.size == 1 %}
    The <strong>{{ page.title }}</strong> {{ page.type_description }} has <a href="#api-support">{{ page.api_integrations | size }} machine translation API integration</a>.
  {% else %}
    The <strong>{{ page.title }}</strong> {{ page.type_description }} has <a href="#api-support">{{ page.api_integrations | size }} machine translation API integrations</a>.
  {% endif %}
</p>

<p>
    {% if page.quality_estimation_integrations.size == 1 %} 
      The <strong>{{ page.title }}</strong> {{ page.type_description }} has <a href="#qe-integrations">{{ page.quality_estimation_integrations | size }} quality estimation API integration</a>.
    {% if page.quality_estimation_integrations > 1 %}
      The <strong>{{ page.title }}</strong> {{ page.type_description }} has <a href="#qe-integrations">{{ page.quality_estimation_integrations | size }} quality estimation API integration</a>.
    {% endif %}
    {% endif %}
</p>

<blockquote>
  <dl>

    <dt>API support</dt>
    <dd>
      {% if page.api_integrations.size > 0 %}
        <a href="#api-support">{{ page.api_integrations.size }} machine translation API{% if page.api_integrations.size > 1 %}s{% endif %}, </a>
      {% endif %}
    </dd>
    <dd>
      {% if page.quality_estimation_integrations.size > 0 %}
        <a href="#qe-integrations">{{ page.quality_estimation_integrations.size }} quality estimation API{% if page.quality_estimation_integrations.size > 1 %}s{% endif %} </a>
      {% endif %}
    </dd>
    
    
    
  </dl>

  <hr/>
    <ul>
      <li>
        <a href="{{ page.tms_url }}" target="_blank">{{ page.tms_url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
    </ul>
</blockquote>

{{ content }}

<section id="api-support">
  <h2>Machine translation</h2>
  <details>
    <summary>
      <strong>{{ page.api_integrations | size }}</strong> machine translation API integrations are available for {{ page.title }}.
      <p class="preview hint">
        {{ page.api_integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.api_integrations.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
    {% for api in page.api_integrations %}
      <li>
        {% if api.plugin %}
          <a href="/{{ api.slug }}">{{ api.name }}</a> (plugin)
        {% else %}
          <a href="/{{ api.slug }}">{{ api.name }}</a>
        {% endif %}
          {% if api.custom or api.glossary or api.formality %}
            {% if api.custom %}| <strong>fine-tuning</strong> support{% endif %}
            {% if api.glossary %}| <strong>glossary</strong> support{% endif %}
            {% if api.formality %}| <strong>formality</strong> support{% endif %}
          {% endif %}
      </li>
    {% endfor %}
  </details>
</section>

{% if page.quality_estimation_integrations.size > 0 %}
<section id="qe-integrations">
  <h2>Quality estimation</h2>
  <details>
    <summary>
      <strong>{{ page.quality_estimation_integrations| size }}</strong> Quality estimation API integrations are available for {{ page.title }}.
      <p class="preview hint">
        {{page.quality_estimation_integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.quality_estimation_integrations > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
    {% for qe in page.quality_estimation_integrations %}
      <li>
        {% if qe.plugin %}
          <a href="/{{ qe.slug }}">{{ qe.name }}</a> (plugin)
        {% else %}
          <a href="/{{ qe.slug }}">{{ qe.name }}</a>
        {% endif %}
          {% if qe.custom or qe.glossary or qe.formality %}
            {% if qe.custom %}| <strong>fine-tuning</strong> support{% endif %}
            {% if qe.glossary %}| <strong>glossary</strong> support{% endif %}
            {% if qe.formality %}| <strong>formality</strong> support{% endif %}
          {% endif %}
      </li>
    {% endfor %}
  </details>
</section>
{% endif %}

{% if page.fuzzy_repair %}
  <h2>Other features</h2>
  {{ page.description }} offers <strong>fuzzy repair</strong> with machine translation.
{% endif %}
