---
layout: default
parent: Integrations
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

<p>
  The <strong>{{ page.title }}</strong> {{ page.type_description }} has
  <a href="#machine-translation">{{ page.api_integrations | size }}machine translation API integration{% if page.api_integrations.size != 1 %}s{% endif %}</a>
  and
  <a href="#quality-estimation">{{ page.quality_estimation_integrations | size }}translation quality estimation API integration{% if page.quality_estimation_integrations != 1 %}s{% endif %}</a>.
</p>

<blockquote>
  <dl>

    <dt>API support</dt>
    <dd>
      <a href="#machine-translation">{{ page.api_integrations.size }} machine translation API{% if page.api_integrations.size != 1 %}s{% endif %}</a>,
    </dd>
    <dd>
      <a href="#quality-estimation">{{ page.quality_estimation_integrations.size }} quality estimation API{% if page.quality_estimation_integrations.size != 1 %}s{% endif %} </a>
    </dd>
    
  </dl>

  <hr/>
    <ul>
      <li>
        <a href="{{ page.tms_url }}" target="_blank">{{ page.tms_url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
    </ul>
</blockquote>

{{ content }}

<section id="machine-translation">
  <h2>Machine translation</h2>
  <details>
    <summary>
      <strong>{{ page.api_integrations | size }}</strong> machine translation API integrations are available for {{ page.title }}.
      <p class="preview hint">
        {{ page.api_integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.api_integrations.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
    {% for api in page.api_integrations %}
      <li>
          <a href="/{{ api.slug }}">{{ api.name }}</a> {% if api.plugin %}(plugin){% endif %}
          {% if api.custom or api.glossary or api.formality %}
            {% if api.custom %}| <strong>fine-tuning</strong> support{% endif %}
            {% if api.glossary %}| <strong>glossary</strong> support{% endif %}
            {% if api.formality %}| <strong>formality</strong> support{% endif %}
          {% endif %}
      </li>
    {% endfor %}
  </details>
</section>

<section id="quality-estimation">
  <h2>Quality estimation</h2>
  <details>
    <summary>
      <strong>{{ page.quality_estimation_integrations| size }}</strong> quality estimation API integrations are available for {{ page.title }}.
      <p class="preview hint">
        {{page.quality_estimation_integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.quality_estimation_integrations > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
    {% for qe in page.quality_estimation_integrations %}
      <li>
        <a href="/{{ qe.slug }}">{{ qe.name }}</a> {% if qe.plugin %}(plugin){% endif %}
          {% if qe.custom %}
            {% if qe.custom %}| <strong>fine-tuning</strong> support{% endif %}
          {% endif %}
      </li>
    {% endfor %}
  </details>
</section>

{% if page.fuzzy_repair %}
  <h2>Other machine translation features</h2>
  <p>{{ page.description }} offers <strong>fuzzy repair</strong>.</p>
{% endif %}
