---
layout: default
parent: Languages
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

{{ content }}

{% assign language = site.data.languages | where: "code", page.code | first %}

<blockquote>
  {{ language }}
</blockquote>

<h3>Support</h3>
<ul>
  {% for engine in site.data.engines %}
    {% if engine.languages contains page.code %}
      <li>
        <a href="/{{ engine.name | slugify }}">
          {{ engine.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

