---
layout: default
parent: Languages
---


<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

{% unless page.names %}
  <blockquote>
    <p>
      This language has not yet been fully added to Machine Translate.

      You can add it to Machine Translate by getting the name, language family, script and typology to <a target="_blank" href="https://github.com/machinetranslate/machinetranslate.org/blob/master/_data/languages.json">languages.json</a> and submitting a pull request.

      You may be able to find this information in  <a target="_blank" href="https://en.wikipedia.org/wiki/ISO_639:{{ page.codes[0] }}">its Wikipedia article.</a>
    </p>
  </blockquote>
{% endunless %}

<p>
  Machine translation for the <strong>{{ page.title }}</strong> language is supported by <a href="#machine-translation">{{ page.supported_apis | size }} machine translation APIs</a>.
</p>
<p>
  Quality estimation for the <strong>{{ page.title }}</strong> language is supported by <a href="#quality-estimation">{{ page.supported_qe_apis | size }} quality estimation APIs</a>.
</p>
<p>
  Automatic post-editing for the <strong>{{ page.title }}</strong> language is supported by <a href="#automatic-post-editing">{{ page.supported_ape_apis | size }} automatic post-editing APIs</a>.
</p>

<blockquote>

  <dl>

    <dt>Code</dt>
    <dd><code>{{ page.codes | first }}</code></dd>

    <dt>Names</dt>
    <dd>{{ page.names | join: ', ' }}</dd>

    <dt>Language family</dt>
    <dd>
      {% for family in page.family %}
      <a href="/{{ family.slug }}">{{ family.name }}</a> {% unless forloop.last %}<{% endunless %}
      {% endfor %}
    </dd>

    <dt>Scripts</dt>
    <dd>
      {% for script in page.scripts %}
        {% assign script_name = site.data.scripts[script] %}
        {% if script_name %}{{ script_name }}{% else %}<code>{{ script }}</code>{% endif %}{% unless forloop.last %},{% endunless %}
      {% endfor %}
    </dd>

    <dt>Locale variants</dt>
    <dd>
      {% for variant in page.territories %}
      <code style="white-space: nowrap;">{{ page.codes | first | append: '-' | append: variant }}</code>{% unless forloop.last %}{% endunless %}
      {% endfor %}
    </dd>

  </dl>
</blockquote>

{{ content }}

<section id="machine-translation">
  <h2>Machine translation</h2>
  <details>
    <summary>
      {% if page.supported_apis.size == 1 %}
        <strong>1</strong> machine translation API supports {{ page.title }}.
      {% else %}
        <strong>{{ page.supported_apis | size }}</strong> machine translation APIs support {{ page.title }}.
      {% endif %}
      <p class="preview hint">
        {{ page.supported_apis | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.supported_apis.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
      {% for api in page.supported_apis %}
        <li>
          <a href="/{{ api.id }}">
            {{ api.name }}
          </a>
          {% for code in api.codes %}
            <code>{{ code }}</code>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </details>
</section>

<section id="quality-estimation">
  <h2>Quality estimation</h2>
  <details>
    <summary>
      {% if page.supported_qe_apis.size == 1 %}
        <strong>1</strong> quality estimation API supports {{ page.title }}.
      {% else %}
        <strong>{{ page.supported_qe_apis | size }}</strong> quality estimation APIs support {{ page.title }}.
      {% endif %}
      <p class="preview hint">
        {{ page.supported_qe_apis | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.supported_qe_apis.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
      {% for qe_api in page.supported_qe_apis %}
        <li>
          <a href="/quality-estimation/{{ qe_api.id }}">
            {{ qe_api.name }}
          </a>
          {% for code in qe_api.codes %}
            <code>{{ code }}</code>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </details>
</section>

<section id="automatic-post-editing">
  <h2>Automatic post-editing</h2>
  <details>
    <summary>
      {% if page.supported_ape_apis.size == 1 %}
        <strong>1</strong> automatic post-editing API supports {{ page.title }}.
      {% else %}
        <strong>{{ page.supported_ape_apis | size }}</strong> automatic post-editing APIs support {{ page.title }}.
      {% endif %}
      <p class="preview hint">
        {{ page.supported_ape_apis | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.supported_ape_apis.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
      {% for ape_api in page.supported_ape_apis %}
        <li>
          <a href="/automatic-post-editing/{{ ape_api.id }}">
            {{ ape_api.name }}
          </a>
          {% for code in ape_api.codes %}
            <code>{{ code }}</code>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </details>
</section>
