---
layout: default
parent: Quality estimation
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>
<hr>

<p>
  {% if page.supported_languages.size > 0 %}
    The <strong>{{ page.title }}</strong> quality estimation API supports <a href="#language-support">{{ page.supported_languages | size }} languages</a>.
  {% else %}
    The <strong>{{ page.title }}</strong> quality estimation API supports an unknown number of languages.
  {% endif %}
</p>

<p>
    {% if page.integrations.size == 1 %}
      <a href="#integrations">1 machine translation management system</a> has integrated the {{ page.title }} quality estimation API.
    {% else %}
      <a href="#integrations">{{ page.integrations | size }} machine translation management systems</a> have integrated the <strong>{{ page.title }}</strong> quality estimation API.
    {% endif %}
</p>

{% if page.tagline %}
<blockquote>
  <h3>
    {{ page.tagline }}
  </h3>
</blockquote>
{% endif %}

{{ content }}


{% if page.customisation %}
<p>
  The <strong>{{ page.title }}</strong> quality estimation API supports <a href="/customisation">Customisation</a>. 
{% endif %}
  {% for tms in page.only_compatible_tms %}
  {% if tms.name %}
    {% for api in page.only_compatible_mt_api %}
      {% if api.name %}
        
          The <strong>{{ page.title }}</strong> quality estimation API only works with the <a href="/{{ tms.id }}">{{ tms.name }}</a> translation management system and the <a href="/{{ api.id }}">{{ api.name }}</a> machine translation API.
        
      {% else %}
        
          The <strong>{{ page.title }}</strong> quality estimation API only works with the <a href="/{{ tms.id }}">{{ tms.name }}</a> translation management system and any machine translation API.
        
      {% endif %}
    {% endfor %}
  {% else %}
    {% for api in page.only_compatible_mt_api %}
      {% if api.name %}
        
          The <strong>{{ page.title }}</strong> quality estimation API can work with any translation management system and the <a href="/{{ api.id }}">{{ api.name }}</a> machine translation API.
        
      {% else %}
        
          The <strong>{{ page.title }}</strong> quality estimation API can work with any translation management system and any machine translation API.
        
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</p>


<blockquote>

  <dl>

    <dt>Language support</dt>
  {% if page.supported_languages.size == 0 %}
    <dd><a href="#language-support">Unknown number of languages</a></dd>
  {% else %}
    <dd><a href="#language-support">{{ page.supported_languages | size }} languages</a></dd>
  {% endif %}

  <dt>Integrations</dt>
  {% for tms in page.only_compatible_tms %}
    {% if tms.name %}
      <dd><a href="/{{ tms.id }}">{{ tms.name }}</a></dd>
    {% else %}
      <dd>API integration with any translation management system</dd>
    {% endif %}
  {% endfor %}
  
  <dt>Machine translation APIs</dt>
  {% for api in page.only_compatible_mt_api %}
    {% if api.name %}
      <dd><a href="/{{ api.id }}">{{ api.name }}</a></dd>
    {% else %}
      <dd>API integration with any machine translation API</dd>
    {% endif %}
  {% endfor %}
</dl>

  {% if page.urls.size > 0 %}
    <hr/>
    <ul>
      {% for url in page.urls %}
      <li>
        <a href="{{ url }}" target="_blank">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

</blockquote>


<section id="language-support">
  <h2>Language support</h2>
  {% if page.supported_languages.size > 0 %}
    <details>
      <summary>
        {% if page.supported_languages_comment %}
          {{ page.supported_languages_comment }}
        {% endif %}
        {% if page.supported_languages.size == 1 %}
          {{ page.title }} supports <strong">1</strong> language.
        {% else %}
         {{ page.title }} supports <strong>{{ page.supported_languages | size }}</strong> languages.
        {% endif %}
        <p class="preview hint">
          {{ page.supported_languages | slice: 0, 5 | map: 'name' | join: ', ' }}
          {% if page.supported_languages.size > 5 %}, …{% endif %}
        </p>
      </summary>
      <ul>
        {% for language in page.supported_languages %}
          <li>
            {% if language.slug %}
            <a href="/{{ language.slug }}">
              <code>{{ language.code }}</code>
              {{ language.name }}
              {% if language.variant_name %}
                | {{ language.variant_name }}
              {% endif %}
            </a>
            {% else %}
            <a href="https://en.wikipedia.org/wiki/ISO_639:{{ language.base_code }}" target="_blank">
              <code>{{ language.code }}</code>
              {% if language.variant_name %}
                | {{ language.variant_name }}
              {% endif %}
            </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </details>

  {% else %}

    <p>{{ page.title }} supports an unknown number of languages.</p>
  {% endif %}
</section>


{% if page.integrations.size > 0 %}

  <section id="integrations">
    <h2>Integrations</h2>
    <details>
      <summary>
        {% if page.integrations.size == 1 %}
          <strong>1</strong> translation management system has integrated the {{ page.title }} quality estimation API.
        {% else %}
          <strong>{{ page.integrations | size }}</strong> translation management systems have integrated the {{ page.title }} quality estimation API.
        {% endif %}
        <p class="preview hint">
          {{ page.integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
          {% if page.integrations.size > 5 %}, …{% endif %}
        </p>
      </summary>
      <ul>
        {% for i in page.integrations %}
          <li>
              <a href="/{{ i.slug }}" >{{ i.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </details>
  </section>

{% endif %}