---
layout: default
parent: Quality estimation
---

<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>
<hr>

<p>
  The <strong>{{ page.title }}</strong> quality estimation API is available in
  <a href="#integrations">{{ page.integrations | size }}
  machine translation management system{% if page.integrations.size != 1 %}s{% endif %}</a>.
</p>

<p>
  {% if page.supported_languages.size > 0 %}
    {{ page.title }}</strong> supports <a href="#language-support">{{ page.supported_languages | size }} languages</a>.
  {% else %}
    {{ page.title }} supports an unknown number of languages.
  {% endif %}
</p>

{% if page.tagline %}
<blockquote>
  “{{ page.tagline }}”
</blockquote>
{% endif %}

{{ content }}

{% if page.customisation %}
<p>
  The <strong>{{ page.title }}</strong> quality estimation API supports <a href="/customisation">customisation</a>. 
{% endif %}
{% if page.only_compatible_tms != nil %}
  {% if page.only_compatible_tms.size > 1 %}
    {% if page.only_compatible_mt_api != nil %}
      {% if page.only_compatible_mt_api.size > 1 %}
        The <strong>{{ page.title }}</strong> quality estimation API can work with {{ page.only_compatible_tms.size }} translation management systems and {{ page.only_compatible_mt_api.size }} machine translation APIs.
      {% else %}
        The <strong>{{ page.title }}</strong> quality estimation API can work with {{ page.only_compatible_tms.size }} translation management systems and the <a href="/{{ page.only_compatible_mt_api[0].id }}">{{ page.only_compatible_mt_api[0].name }}</a> machine translation API.
      {% endif %}
    {% else %}
      The <strong>{{ page.title }}</strong> quality estimation API can work with {{ page.only_compatible_tms.size }} translation management systems and any machine translation API.
    {% endif %}
  {% else %}
    {% if page.only_compatible_mt_api != nil %}
      {% if page.only_compatible_mt_api.size > 1 %}
        The <strong>{{ page.title }}</strong> quality estimation API only works with the <a href="/{{ page.only_compatible_tms[0].id }}">{{ page.only_compatible_tms[0].name }}</a> translation management system and {{ page.only_compatible_mt_api.size }} machine translation APIs.
      {% else %}
        The <strong>{{ page.title }}</strong> quality estimation API only works with the <a href="/{{ page.only_compatible_tms[0].id }}">{{ page.only_compatible_tms[0].name }}</a> translation management system and the <a href="/{{ page.only_compatible_mt_api[0].id }}">{{ page.only_compatible_mt_api[0].name }}</a> machine translation API.
      {% endif %}
    {% else %}
      The <strong>{{ page.title }}</strong> quality estimation API only works with the <a href="/{{ page.only_compatible_tms[0].id }}">{{ page.only_compatible_tms[0].name }}</a> translation management system and any machine translation API.
    {% endif %}
  {% endif %}
{% else %}
  {% if page.only_compatible_mt_api != nil %}
    {% if page.only_compatible_mt_api.size > 1 %}
      The <strong>{{ page.title }}</strong> quality estimation API can work with any translation management system and {{ page.only_compatible_mt_api.size }} machine translation APIs.
    {% else %}
      The <strong>{{ page.title }}</strong> quality estimation API can work with any translation management system and the <a href="/{{ page.only_compatible_mt_api[0].id }}">{{ page.only_compatible_mt_api[0].name }}</a> machine translation API.
    {% endif %}
  {% else %}
    The <strong>{{ page.title }}</strong> quality estimation API can work with any translation management system and any machine translation API.
  {% endif %}
{% endif %}
</p>


<blockquote>

  <dl>
    <dt>Language support</dt>
  {% if page.supported_languages.size == 0 %}
    <dd><a href="#language-support">Unknown number of languages</a></dd>
  {% else %}
    <dd><a href="#language-support">{{ page.supported_languages | size }} languages</a></dd>
  {% endif %}

  <dt>Integrations</dt>
  {% if page.only_compatible_tms != nil %}
    {% for tms in page.only_compatible_tms %}
      <dd>
        <a href="/{{ tms.id }}">{{ tms.name }}</a>
      </dd>
    {% endfor %}
  {% else %}
    <dd>API integration with any translation management system</dd>
  {% endif %}
  
  <dt>Machine translation APIs</dt>
  {% if page.only_compatible_mt_api != nil %}
    {% for api in page.only_compatible_mt_api %}
      <dd>
        <a href="/{{ api.id }}">{{ api.name }}</a>
      </dd>
    {% endfor %}
  {% else %}
    <dd>API integration with any machine translation API</dd>
  {% endif %}
  </dl>  

  {% if page.urls.size > 0 %}
    <hr/>
    <ul>
      {% for url in page.urls %}
      <li>
        <a href="{{ url }}" target="_blank">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

</blockquote>


<section id="language-support">
  <h2>Language support</h2>
  {% if page.supported_languages.size > 0 %}
    <details>
      <summary>
        {% if page.supported_languages_comment %}
          {{ page.supported_languages_comment }}
        {% endif %}
        {% if page.supported_languages.size == 1 %}
          {{ page.title }} supports <strong">1</strong> language.
        {% else %}
         {{ page.title }} supports <strong>{{ page.supported_languages | size }}</strong> languages.
        {% endif %}
        <p class="preview hint">
          {{ page.supported_languages | slice: 0, 5 | map: 'name' | join: ', ' }}
          {% if page.supported_languages.size > 5 %}, …{% endif %}
        </p>
      </summary>
      <ul>
        {% for language in page.supported_languages %}
          <li>
            {% if language.slug %}
            <a href="/{{ language.slug }}">
              <code>{{ language.code }}</code>
              {{ language.name }}
              {% if language.variant_name %}
                | {{ language.variant_name }}
              {% endif %}
            </a>
            {% else %}
            <a href="https://en.wikipedia.org/wiki/ISO_639:{{ language.base_code }}" target="_blank">
              <code>{{ language.code }}</code>
              {% if language.variant_name %}
                | {{ language.variant_name }}
              {% endif %}
            </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </details>
  {% else %}
    <p>{{ page.title }} supports an unknown number of languages.</p>
  {% endif %}
</section>

<section id="integrations">
  <h2>Integrations</h2>
  <details>
    <summary>
      {{ page.title }} is integrated in <strong>{{ page.integrations | size }}</strong> translation management system{% if page.integrations.size != 1 %}s{% endif %}.
      <p class="preview hint">
        {{ page.integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.integrations.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
      {% for i in page.integrations %}
        <li>
            <a href="/{{ i.slug }}" >{{ i.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </details>
</section>
