---
layout: default
parent: Routers
---
<h1>
  {{ page.title }}
</h1>
<h2>
  {{ page.description }}
</h2>

<hr/>

<p>
  The <strong>{{ page.title }}</strong> <a href="/routers">router</a> supports <a href="#machine-translation">{{ page.supported_apis | size }} machine translation APIs</a>.
</p>

<p>
  {% if page.integrations.size == 1 %}
  <a href="#integrations">1 machine translation management system</a> has integrated the <strong>{{ page.title }}</strong> router.{% endif %}
  {% if page.integrations.size > 1 %}
   <a href="#integrations">{{ page.integrations | size }} machine translation management systems</a> have integrated the <strong>{{ page.title }}</strong> router.
  {% endif %}
</p>

<blockquote>
  <dl>
    <dt>Supported APIs</dt>
    <dd><a href="#machine-translation">{{ page.supported_apis | size }} machine translation APIs</a></dd>
  </dl>
  
  <dl>
    <dt>Integrations</dt>
    <dd><a href="#integrations">{{ page.integrations | size }} translation management systems</a></dd>
  </dl>

  <dl>
    <dt>Company</dt>
      <dd>
        {% if page.more_by_company.size > 1 %}
          <a href="#more-by-company">{{ page.company.name }}</a>
        {% else %}
          {{ page.company.name }}
        {% endif %}
      </dd>
  </dl>

  {% if page.urls.size > 0 %}
    <hr/>
    <ul>
      {% for url in page.urls %}
      <li>
        <a href="{{ url }}" target="_blank">{{ url | remove_first: 'https://' | remove_first: 'http://' | remove_first: 'www.' | truncate: 50 }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</blockquote>

{{ content }}

<section id="machine-translation">
  <h2>Machine translation</h2>
  <details>
    <summary>
      {% if page.supported_apis.size == 1 %}
        <strong>1</strong> machine translation API supports {{ page.title }}.
      {% else %}
        <strong>{{ page.supported_apis | size }}</strong> machine translation APIs are supported by the {{ page.title }} router.
      {% endif %}
      <p class="preview hint">
        {{ page.supported_apis | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.supported_apis.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
      {% for api in page.supported_apis %}
      <li>
        <a href="/{{ api.slug }}">{{ api.name }}</a>
    </li>
      {% endfor %}
    </ul>
  </details>
</section>

<section id="integrations">
  <h2>Integrations</h2>
  <details>
    <summary>
      {% if page.integrations.size == 1 %}
        <strong>1</strong> translation management system has integrated the {{ page.title }} router.
      {% else %}
        <strong>{{ page.integrations | size }}</strong> translation management systems have integrated the {{ page.title }} router.
      {% endif %}
      <p class="preview hint">
        {{ page.integrations | slice: 0, 5 | map: 'name' | join: ', ' }}
        {% if page.integrations.size > 5 %}, …{% endif %}
      </p>
    </summary>
    <ul>
      {% for i in page.integrations %}
      <li>
        <a href="/integrations/{{ i.slug }}">{{ i.name }}</a> {% if i.plugin %}(plugin){% endif %}
        {% if i.custom or i.glossary or i.formality %}
          {% if i.custom %}| <strong>fine-tuning</strong> support{% endif %}
          {% if i.glossary %}| <strong>glossary</strong> support{% endif %}
          {% if i.formality %}| <strong>formality</strong> support{% endif %}
        {% endif %}
    </li>
      {% endfor %}
    </ul>
  </details>
</section>

{% assign feature_types = "translation_apis,quality_estimation_apis,automatic_post_editing_apis,tms,routers,models" | split: "," %}
{% assign feature_summaries = "Translation APIs,Quality estimation,Automatic post-editing,,Routers,Models" | split: "," %}

{% assign total_visible_items = 0 %}

{% for company in page.more_by_company %}
  {% for feature in feature_types %}
    {% assign items = company[feature] %}
    {% if items %}
      {% assign visible_items = "" | split: "" %}
      {% for i in items %}
        {% if feature == "routers" %}
          {% if i.id != page.id %}
            {% assign visible_items = visible_items | push: i %}
          {% endif %}
        {% else %}
          {% assign visible_items = visible_items | push: i %}
        {% endif %}
      {% endfor %}

      {% if visible_items.size > 0 %}
        {% assign total_visible_items = total_visible_items | plus: visible_items.size %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if total_visible_items > 0 %}
  <section id="more-by-company">
    <h2>More by {{ page.company.name }}</h2>

    {% for company in page.more_by_company %}

      {% assign items = company.translation_apis %}
      {% if items %}
        <details>
          <summary>Machine translation</summary>
          <ul>
            {% for i in items %}
              <li><a href="/{{ i.id }}">{{ i.name }}</a></li>
            {% endfor %}
          </ul>
        </details>
      {% endif %}

      {% assign items = company.quality_estimation_apis %}
      {% if items %}
        <details>
          <summary>Quality Estimation</summary>
          <ul>
            {% for i in items %}
              <li><a href="/quality-estimation/{{ i.id }}">{{ i.name }}</a></li>
            {% endfor %}
          </ul>
        </details>
      {% endif %}

      {% assign items = company.automatic_post_editing_apis %}
      {% if items %}
        <details>
          <summary>Automatic post-editing</summary>
          <ul>
            {% for i in items %}
              <li><a href="/automatic-post-editing/{{ i.id }}">{{ i.name }}</a></li>
            {% endfor %}
          </ul>
        </details>
      {% endif %}

    {% assign items = company.tms %}
    {% if items %}
      <details>
        <summary>{{ items[0].type }}</summary>
        <ul>
          {% for i in items %}
            <li><a href="/integrations/{{ i.id }}">{{ i.name }}</a></li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% assign items = company.routers %}
    {% if items %}
      {% assign visible_items = "" | split: "" %}
      {% for i in items %}
        {% if i.id != page.id %}
          {% assign visible_items = visible_items | push: i %}
        {% endif %}
      {% endfor %}
      
      {% if visible_items.size > 0 %}
        <details>
          <summary>Routers</summary>
          <ul>
            {% for i in visible_items %}
              <li><a href="/routers/{{ i.id }}">{{ i.name }}</a></li>
            {% endfor %}
          </ul>
        </details>
      {% endif %}
    {% endif %}

      {% assign items = company.models %}
      {% if items %}
        <details>
          <summary>Models</summary>
          <ul>
            {% for i in items %}
              <li><a href="/models/{{ i.id }}">{{ i.name }}</a></li>
            {% endfor %}
          </ul>
        </details>
      {% endif %}

    {% endfor %}
  </section>
{% endif %}