---
layout: default
parent: Events
---

<h1>{{ page.title }}</h1>
<h2>{{ page.description }}</h2>
<hr />

{% assign current_date = site.time | date: "%Y-%m-%d" %}

<p>{% if current_date < page.endDate %}{{ page.futureTenseOpeningParagraph }}{% else %}{{ page.pastTenseOpeningParagraph }}{% endif%}</p>

{% if page.summaries %}
  {% for summary in page.summaries %}
    <blockquote>
      <p>
        {{ summary }}
      </p>
    </blockquote>
  {% endfor %}
{% endif %}

{% if page.location %}
  <h3>Location</h3>
  <ul>
    <li>
      {{ page.location.name }}
    </li>
  </ul>
{% endif %}

{% if page.links %}
  <h3>Links</h3>
  <ul>
    {% for link in page.links %}
      <li>
        {{ link }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if page.importantDates %}
  <h2>Important Dates</h2>
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
  {% for entry in page.importantDates %}
      <tr>
        <td>{{ entry.date }}</td>
        <td>{{ entry.name }}</td>
      </tr>
  {% endfor %}
    </table>
{% endif %}

{% if page.sharedTasks %}
  <h2>Shared Tasks</h2>
  {% for task in page.sharedTasks %}
    <ul>
      <li>{{ task }}</li>
    </ul>
  {% endfor %}
{% endif %}

{% if page.generalMachineTranslation %}
  <h3>General Machine Translation</h3>
  {% for entry in page.generalMachineTranslation %}
    <ul>
      <li>
        {{ entry.title }}
      </li>
    </ul>
    {% if entry.description %}
    <blockquote>{{ entry.description }}</blockquote>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.languagePairs %}
  <h4>Language Pairs</h4>
  <p>Confirmed language pairs:</p>
  {% for pair in page.languagePairs %}
  <ul>
    <li>
      {{ pair }}
    </li>
  </ul>
  {% endfor %}
{% endif %}

{% if page.scientificPapers %}
  <h2>Scientific papers</h2>
  {% for entry in page.scientificPapers %}
    {% if entry.topics %}
      <h3>Topics</h3>
      {% for topic in entry.topics %}
      <ul>
        <li>
          {{ topic }}
        </li>
      </ul>
      {% endfor %}
    {% endif %}
    {% if entry.researchPapers %}
      <h3>Research Papers</h3>
      {% for i in entry.researchPapers %}
        <blockquote>{{ i }}</blockquote>
      {% endfor %}
    {% endif %}
    {% if entry.systemPapers %}
      <h3>System Papers</h3>
      {% for i in entry.systemPapers %}
        <blockquote>{{ i }}</blockquote>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.posterFormat %}
  <h2>Poster Format</h2>
  {% for entry in page.posterFormat %}
  <ul>
    <li>
      {{ entry }}
    </li>
  </ul>
  {% endfor %}
{% endif %}

{% if page.paperSubmission %}
  <h2>Paper submission</h2>
  {% for entry in page.paperSubmission %}
  <ul>
    <li>
      {{ entry }}
    </li>
  </ul>
  {% endfor %}
{% endif %}

{% if page.multidaySchedule %}
  <h2>Schedule</h2>
  {% for schedule in page.multidaySchedule %}
    <h3>Day {{ forloop.index }}</h3>
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      {% for d in schedule %}
        <tr>
          <td>{{ d.time }}</td>
          <td>{{ d.title }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
{% endif %}

{% if page.oneDaySchedule %}
  <h2>Schedule</h2>
  {% for schedule in page.oneDaySchedule %}
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      {% for d in schedule %}
        <tr>
          <td>{{ d.time }}</td>
          <td>{{ d.title }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
{% endif %}

{% if page.results %}
  <h2>Results</h2>
  <h3>General Task</h3>
  {% for entry in page.results %}
    <p>Full results of the shared task: <a href="{{ entry.fullResults.url }}">{{ entry.fullResults.title }}</a></p>
    {% for score in entry.scoringTable %}
      {% if score.Average_score and score.Average_z_score %}
        The winner systems were listed according to their <a href="/human-evaluation-metrics#average-score-and-average-z-score">average score and average z-score</a>.
      {% elsif score.Average_score %}
        The winner systems were listed according to their <a href="/human-evaluation-metrics#average-score-and-average-z-score">average score</a>.
      {% elsif score.Average_z_score %}
        The winner systems were listed according to their <a href="/human-evaluation-metrics#average-score-and-average-z-score">average z-score</a>.
      {% endif %}
      {% break %}
    {% endfor %}

    {% if entry.scoringTable %}
      {% for i in entry.scoringTable %}
        <h4>{{ i.language }}</h4>
        <p>{{ i.sentence }}</p>
          <table>
            <tr>
              <th>Language pair</th>
              <th>System</th>
              <th>Average score</th>
              <th>Average z-score</th>
            </tr>
            <tr>
              <td>{{ i.language_pair }}</td>
              <td>{{ i.System }}</td>
              <td>{{ i.Average_score }}</td>
              <td>{{ i.Average_z_score }}</td>
            </tr>
          </table>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}

{{ content }}